<mat-toolbar class="topbar" color="default">
<button mat-icon-button class="icon-btn" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>


  <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" class="logo" alt="Keep Logo">
  <span class="title">Keep</span>

  <div class="search-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input matInput placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="search.emit(searchText)" class="search-input" />
  </div>

  
  <div class="icon-container">
  <button mat-icon-button><mat-icon>refresh</mat-icon></button>
  <button mat-icon-button (click)="toggleView()">
  <mat-icon>{{ isGridView ? 'grid_view' : 'view_list' }}</mat-icon>
  </button>
  <button mat-icon-button><mat-icon>settings</mat-icon></button>
  </div>
  <div class="google-container">
  <button mat-icon-button><mat-icon>apps</mat-icon></button>
  <mat-icon class="user-icon">account_circle</mat-icon>
  </div>
</mat-toolbar>
