<div class="icon-toolbar">
  <div class="icon-button">
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showFormatColorText" title="Formatting options">format_color_text</mat-icon>
    </div>
  <div class="icon-button">
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showColor" (click)="toggleColorPicker()" title="Background color">
    palette
  </mat-icon>
  </div>
  

 
  <div *ngIf="showColorPicker" class="color-picker">
    <div *ngFor="let color of colors" class="color-circle" [style.background]="color" (click)="selectColor(color)"></div>
  </div>

  <div class="icon-button">
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showReminder" title="Remind me">notifications</mat-icon>
  </div>
  <div class="icon-button">
     <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showCollaborator" title="Collaborator">person_add</mat-icon>
  </div>
  <div class="icon-button">
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showImage" title="Add image">image</mat-icon>
  </div>
  <div class="icon-button">
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showArchive" (click)="onArchiveClick()" title="Archive">archive</mat-icon>
    </div>
  <div class="icon-button">
  <mat-icon
  *ngIf="showUnarchive"
  class="material-symbols-outlined seltoggle"
  (click)="onUnArchiveClick()"
  title="Unarchive"
>
  unarchive
</mat-icon>
  
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDeleteClick()">
      <span>Delete note</span>
    </button>
    <button mat-menu-item >
      <span>Add Level</span>
    </button>
    <button mat-menu-item >
      <span>Add Drawing</span>
    </button>
    <button mat-menu-item >
      <span>Make a copy</span>
    </button>
    <button mat-menu-item >
      <span>Show tick boxes</span>
    </button>
    <button mat-menu-item >
      <span>Version history</span>
    </button>

  </mat-menu>

  <div class="icon-button">
    <mat-icon
    class="material-symbols-outlined seltoggle"
    [matMenuTriggerFor]="menu"
    title="More"
    >
    more_vert
    </mat-icon>
  </div>
    <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showUndo" title="Undo">undo</mat-icon>
  <mat-icon class="material-symbols-outlined seltoggle" *ngIf="showRedo" title="Redo">redo</mat-icon>
  <mat-icon
  class="material-symbols-outlined pin-icon"
  (click)="togglePin()"
  [ngClass]="{ 'pinned': note?.isPined }"
  [title]="note?.isPined ? 'Unpin' : 'Pin'"
  >
  push_pin
  </mat-icon>

  
</div>
