.icon-toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 12px;
  margin-bottom: 1px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 20px;
  color: #5f6368;
  cursor: pointer;
}

.color-picker {
  position: absolute;
  top: 30px;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  z-index: 10;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}

