<mat-card
  class="note-card"
  (click)="onFocus()"
  [style.background]="selectedColor"
>
  <form [formGroup]="noteForm" *ngIf="isExpanded">
    <div class="note-header">
      <input
        matInput
        formControlName="title"
        placeholder="Title"
        class="note-title"
      />

    </div>

    <input
      matInput
      formControlName="description"
      placeholder="Take a note..."
      class="note-description"
    />

    <div class="icon-footer">
      <app-note-icons
        [note]="{ id: '', color: selectedColor }"
        (colorChanged)="onColorChanged($event)"
        [showReminder]="true"
        [showCollaborator]="true"
        [showColor]="true"
        [showImage]="true"
        [showArchive]="true"
        [showTrash]="false"
        [showMore]="true"
        [showUndo]="false"
        [showRedo]="false"
      ></app-note-icons>

      <button mat-button type="button" (click)="onClose()">Close</button>
    </div>
  </form>

  <div *ngIf="!isExpanded" class="note-collapsed">
    <span>Take a note...</span>
    <div class="collapsed-icons">
      <mat-icon>check_box</mat-icon>
      <mat-icon>brush</mat-icon>
      <mat-icon>image</mat-icon>
    </div>
  </div>
</mat-card>
