.note-card {
  width: 600px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  cursor: text;
  transition: background 0.3s ease;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-title,
.note-description {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  color: #202124;
}

.note-description {
  margin: 12px 0;
  font-size: 14px;
}

.note-collapsed {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: #5f6368;
}

.icon-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.collapsed-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 25px;
  color: #5f6368;
  cursor: pointer;
}
