<mat-card class="note-card" (click)="onFocus()">
  <form [formGroup]="noteForm" *ngIf="isExpanded">
    <div class="note-header">
      <input matInput formControlName="title" placeholder="Title" class="note-title">
      <button mat-icon-button class="material-symbols-outlined seltoggle">
        <mat-icon>push_pin</mat-icon>
      </button>
    </div>

    <input matInput formControlName="description" placeholder="Take a note..." class="note-description">
   <div class="icon-footer">
    <app-note-icons
      [showReminder]="true"
      [showCollaborator]="true"
      [showColor]="true"
      [showImage]="true"
      [showArchive]="true"
      [showTrash]="false"
      [showMore]="true"
    ></app-note-icons>

  <button mat-button (click)="onClose()">Close</button>
  </div>

  </form>

  <div *ngIf="!isExpanded" class="note-collapsed">
    <span>Take a note...</span>
    <div class="collapsed-icons">
    <mat-icon class="material-symbols-outlined seltoggle">check_box</mat-icon>
    <mat-icon class="material-symbols-outlined seltoggle">brush</mat-icon>
    <mat-icon class="material-symbols-outlined seltoggle">image</mat-icon>
  </div>
  </div>
</mat-card>
