@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");    

.seltoggle {
  color: black;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined seltoggle{
    font-size: smaller;
}
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.icon-button:hover {
  background-color: rgba(60, 64, 67, 0.1); 
  cursor: pointer;
}

.icon-button mat-icon {
  font-size: 20px;
  color: #5f6368;
}

.custom-dialog-backdrop {
  background-color: rgba(32, 33, 36, 0.6); 
  z-index: 1000;
}
