<mat-nav-list class="nav-list">
  <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'notes' }"
    (click)="chooseNav('notes')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">lightbulb</mat-icon>
    <span *ngIf="!collapsed">Notes</span>
  </div>
  <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'reminders' }"
    (click)="chooseNav('reminders')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">notifications</mat-icon>
    <span *ngIf="!collapsed">Reminders</span>
  </div>
  <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'labels' }"
    (click)="chooseNav('labels')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">label</mat-icon>
    <span *ngIf="!collapsed">Note</span>
  </div>
   <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'editlabels' }"
    (click)="chooseNav('editlabels')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">edit</mat-icon>
    <span *ngIf="!collapsed">Edit labels</span>
  </div>
  <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'archive' }"
    (click)="chooseNav('archive')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">archive</mat-icon>
    <span *ngIf="!collapsed">Archive</span>
  </div>
  <div
    class="nav-link"
    [ngClass]="{ active: activeItem === 'trash' }"
    (click)="chooseNav('trash')"
  >
    <mat-icon class="material-symbols-outlined seltoggle">delete</mat-icon>
    <span *ngIf="!collapsed">Trash</span>
  </div>
</mat-nav-list>
