<mat-nav-list class="nav-list">
  <!-- Notes -->
  <a mat-list-item
     class="nav-link"
     [routerLink]="['/dashboard/note']"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon class="material-symbols-outlined seltoggle">lightbulb</mat-icon>
    <span *ngIf="!collapsed">Notes</span>
  </a>

  <!-- Reminders -->
  <a mat-list-item
     class="nav-link"
     [routerLink]="['/dashboard/reminders']"
     routerLinkActive="active">
    <mat-icon class="material-symbols-outlined seltoggle">notifications</mat-icon>
    <span *ngIf="!collapsed">Reminders</span>
  </a>

 
  <!-- Edit Labels -->
  <a mat-list-item
     class="nav-link"
     [routerLink]="['/dashboard/editlabels']"
     routerLinkActive="active">
    <mat-icon class="material-symbols-outlined seltoggle">edit</mat-icon>
    <span *ngIf="!collapsed">Edit labels</span>
  </a>

  <!-- Archive -->
  <a mat-list-item
     class="nav-link"
     [routerLink]="['/dashboard/archive']"
     routerLinkActive="active">
    <mat-icon class="material-symbols-outlined seltoggle">archive</mat-icon>
    <span *ngIf="!collapsed">Archive</span>
  </a>

  <!-- Trash -->
  <a mat-list-item
     class="nav-link"
     [routerLink]="['/dashboard/trash']"
     routerLinkActive="active">
    <mat-icon class="material-symbols-outlined seltoggle">delete</mat-icon>
    <span *ngIf="!collapsed">Trash</span>
  </a>
</mat-nav-list>
