.note-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  align-items: flex-start;
  padding-left: 10%;
  padding-top: 1.5%;

}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  align-items: center;
  padding-left: 30%;
  padding-top: 1.5%;
}

.note-card {
  width: 240px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  word-break: break-word;
  transition: box-shadow 0.3s ease;
  background-color: var(--default-bg, white);
}
.note-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.note-list .note-card {
  width: 100%;
}

.note-icons-wrapper {
  margin-top: auto;
  padding-top: 8px;
}

.note-icons-wrapper.hidden {
  opacity: 0;
  pointer-events: none;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 20px;
  color: #b1b6bb;
  cursor: pointer;
}
.reminder-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 2px;
  font-size: 13px;
  color: #202124;
  margin-top: 8px;
  max-height: fit-content;
  max-width:fit-content;
}

.reminder-icon {
  font-size: 16px;
  max-height: min-content;
  color: #5f6368;
}

.reminder-remove-icon {
  font-size: 16px;
  margin-left: 6px;
  max-height:min-content;
  cursor: pointer;
  color: #5f6368;
}
.empty-reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  color: #5f6368;
}
.empty-reminder p {
  font-size: 25px;
}
.empty-reminder mat-icon {
  font-size: 120px;
  min-width: 120px;
  min-height: 120px;
  color: #dadce0;
  margin-bottom: 16px;
}
